@media screen and (max-width:576px) {
    .hambargur{
        color: white;
        width: 24px;
    height: 24px;
    display: block;
    padding-right: 10%;
    }
   .header-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-left: 0px;
    margin-right: 0px; 
text-align: center;
align-items: center;
 width: 100%;
height: 3rem;
padding-left: 5%;

   }
    .nav-div2{
        display: none;
    }
    .header-section{
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
    }
   .h-s-btn{
    width: 100%;
    height: 4rem;
    align-items: flex-start;
    gap: 0.625rem;
    padding: 0px;
    margin: 2.375rem 0rem;
    display: flex;
    justify-content: space-between;
   }
   .header-section-div1{
    width: 100%;
    height: max-content;
   }
   .header-section-div1-p{
    width: 30rem;
    margin-bottom: 1rem;
    height:4rem;
    
   }
   .header-section-div1-h1{
    font-size: 40px;
    font-weight: 800;
    /* letter-spacing: 0%; */
    text-align: left;
    width: 20rem;
    height: 11rem;
    margin-top: -10%;
    /* margin-bottom: -20%; */
   }
   .btn-color-new{
    width: 16rem;
    height: 100%;
    display: flex;
    text-align: center;
     align-items: center; 
    justify-items: center; 
    border-radius: 42px;
background: rgb(230, 83, 60);
padding: 1rem 2.5rem 1rem 4rem;
color: white;
font-size: 1.2rem;
font-weight: 700;
line-height: 22px;


   }
   .btn-color{
    display: none;
   }
   .btn-no-color{
    width: 16rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 1rem 2.5rem 1rem 4rem;
   }
   
.header-section-div2{
    display: flex;
    justify-content: center;
    /* width: 22.0625rem; */
height: 36.35rem;
}
.card-1{
    top: 13%;
left: 55%;
}
.card-2{
    top: 58%;
    left: 12%;
}
/* afterbanner */

.second-section{
    width:100%;
height: max-content;
position:static;
/* padding: 0rem 1.5rem 0rem 1rem; */
margin-left: 0%;
margin-right: 0%;
left: 0rem;

}
.second-section-p{
    padding: 0rem 3rem 0rem 3rem;
}
.section2-divvvvvv{
    display: block;
    width: 100%;
    height: max-content;
}
.div2-img4-p{
margin-left: 30%;
margin-right: 30%;
margin-bottom: 2rem;
}
.main-section1{
    /* background-color: aqua; */
   width: 100%;
  height: max-content;
  display: block;
  margin-left: 0rem;
margin-right: 0rem;
}
.third-section-div1{
    display: grid;
    margin: 2.5rem;
    left: 2rem;
   
}
.third-section-div2{
    display: flex;
   align-items: center;

}
   
.img-run-div{
   margin-top: 4rem;

 margin-left: 6.5rem;
   margin-bottom: 2rem; 
    
}
.third-section-div1-img{
    width: 18rem;
    height: 12rem;
    margin-left: -1.3rem;
}
.third-section-div1-p{
   width: 20rem;
}
.third-section-div1-h3{
    margin-left: 3.5rem;
}
.third-section-div1-btn{
    width: 18rem;
    height: 4rem;
    margin-left: -2.2rem;
}
/* BMI */
.bmi-header {
    width:32rem;
    margin-left:-4rem;
    height: max-content;
}

.bmi-calcu-container {
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.bmi-left-content {
    position: absolute;
    top: 50px;
    left: 20%;
}

.bmi-right-content {
    position: absolute;
    top: 40%;
    left: 1rem;

}

table {
    width: 400px;
}

tr {
    width: 550px;
    height: 50px;
}

.bmi-right-tittle {
    font-size: 20px;
    margin-left: 5%;
}

.bmi-right-description {
    margin-left: 5%;
}

form {
    width: 550px;
    height: 300px;
}

.flex-input {
    display: block;
    display: flex;
    width: 550px;
}

.flex-input input {
    display: block;
    width: 500px;
    height: 55px;
    margin: 10px;
}

#seclect-activity {
    width: 280px;
    height: 55px;
    margin: 10px;
}

.form-btn input[type="submit"] {
    display: block;
    width: 250px;
    margin-left: 10px;
}
#seclect-activity{
    width: 97%;
}
.form-btn input[type="submit"]{
    height: 4rem;
}

/* <!--meet out teem --> */
.ourteem-div1{
    width: 100%;
    height: max-content;
    display: block;
}
.ourteem-div1-1{
    display: block;
}
.ourteem-div1-1-h3{
    font-size: 2rem;
    font-weight: 800;
    line-height: 100%;
    margin-bottom: -1rem;
}
.ourteem-div1-1-p{
    color: rgba(255, 255, 255, 0.5);

font-size: 0.8rem;
font-weight: 400;
line-height: 0.8rem;
letter-spacing: 0px;
text-align: center;
margin: 0.8rem 2rem;
}
.ourteem-div1-2{
    display: block;
    
}
.img-div{
    width: 90%;
    height: 90%;
    padding: 1rem;
}
/* footer */

.first-footer-p{
    width: 100%;
}
.footer-main {
    height: max-content;
    width: 100%;
}

.footer-second {
    height: 1000px;
    width: 400px;
    margin-left: 0px;
}

.footer-first-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.first-footer-content {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 75%;
}

.left-footer-logo {
    font-size: 90px;
}

.second-footer-container {
    margin-top: -3rem;
    width: 300px;
    position: absolute;
    left:0;
    top: 40%;
}

.midel-footer-tittle {
    margin-left: 30px;
    font-size: 40px;
}

.second-footer-container a {
    display: block;
    margin-left: 30px;
    font-size: 30px;
}

.last-footer-content {
    position: absolute;
    left: -20px;
    top: 70%;
    width: 500px;
}

.last-footer-content a {
    display: block;
    font-size: 30px;
    margin-left: 30px;
}

.last-part p {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: start;
    font-size: 25px;
    padding-left: 1.5rem;
}


/* ...unique */
.why-web-development{
    display: block;
}
.web-dev-first{
    display: block;
}
  .web-div1-img-1{

      padding: 1rem; 
      width: 100%;
      height: 70%;
     border-radius: 10%;



}