@media screen and (max-width:576px) {
    .hambargur{
        color: white;
        width: 24px;
    height: 24px;
    display: block;
    padding-right: 10%;
    }
   .header-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-left: 0px;
    margin-right: 0px; 
text-align: center;
align-items: center;
 width: 100%;
height: 3rem;
padding-left: 5%;

   }
    .nav-div2{
        display: none;
    }
    .header-section{
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
    }
   .h-s-btn{
    width: 100%;
    height: 4rem;
    align-items: flex-start;
    gap: 0.625rem;
    padding: 0px;
    margin: 2.375rem 0rem;
    display: flex;
    justify-content: space-between;
   }
   .header-section-div1{
    width: 100%;
    height: max-content;
   }
   .header-section-div1-p{
    width: 30rem;
    margin-bottom: 1rem;
    height:4rem;
    
   }
   .header-section-div1-h1{
    font-size: 40px;
    font-weight: 800;
    /* letter-spacing: 0%; */
    text-align: left;
    width: 20rem;
    height: 11rem;
    margin-top: -10%;
    /* margin-bottom: -20%; */
   }
   .btn-color-new{
    width: 16rem;
    height: 100%;
    display: flex;
    text-align: center;
     align-items: center; 
    justify-items: center; 
    border-radius: 42px;
background: rgb(230, 83, 60);
padding: 1rem 2.5rem 1rem 4rem;
color: white;
font-size: 1.2rem;
font-weight: 700;
line-height: 22px;


   }
   .btn-color{
    display: none;
   }
   .btn-no-color{
    width: 16rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 1rem 2.5rem 1rem 4rem;
   }
   
.header-section-div2{
    display: flex;
    justify-content: center;
    /* width: 22.0625rem; */
height: 36.35rem;
}
.card-1{
    top: 13%;
left: 55%;
}
.card-2{
    top: 58%;
    left: 12%;
}
/* afterbanner */

.second-section{
    width:100%;
height: max-content;
position:static;
padding: 0rem 1.5rem 0rem 1rem;
}
.second-section-p{
    padding: 0rem 3rem 0rem 3rem;
}
.section2-divvvvvv{
    display: block;
    width: 100%;
    height: max-content;
}
.div2-img4-p{
margin-left: 30%;
margin-right: 30%;
margin-bottom: 2rem;
}
.main-section1{
   width: 100%;
  height: max-content;
  display: block;
  margin-left: 0rem;
margin-right: 0rem;
}
.third-section-div1{
    display: grid;}
   
.img-run-div{
    margin-left: 0rem;
}


}



@media screen and (min-width:576px) and (max-width:992px) {
    
  
}