*{
    margin: 0px;
    padding: 0px;
      background-color:black;   
}

.inter-interfont{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .header-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-left: 9rem;
    margin-right: 9rem; 
text-align: center;
padding: 0px;
 width: 70.25rem;
height: 3rem;
}
.nav-div2{
    display: flex;
    gap: 20px;
   justify-content: end;
    /* background-color: antiquewhite; */
width: 465px;
height: 46px;
flex-direction: row;
align-items: center;
}
.nav-h3{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 36px;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.anchor{
    text-decoration: none;
    color: white;
  
}
.btn-nav{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    color: white;
    border: none;
align-items: center;
 padding: 8px 20px 8px 20px;

}
.hambargur{
    color: white;
    width: 24px;
height: 24px; 
 display: none; 
}
/* navbarend */
.header-section-div1-h1{
    color: rgb(255, 255, 255);
font-size: 70px;
font-weight: 900;
/* line-height: 100%; */
letter-spacing: 0%;
text-align: left;
width: 520px;
height: 285px;
}
.header-section-div1-p{
    width: 520px;
height: 48px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
}
.h-s-btn{
    width: 462px;
height: 54px;
align-items: flex-start;
gap: 14;
padding: 0px;
margin: 38px 0px;
}
.btn-color{
    border-radius: 42px;
    width: 224px;
    height: 54px;
background: rgb(230, 83, 60);
padding: 16px 40px 16px 40px;
color: white;
font-size: 17px;
font-weight: 600;
line-height: 22px;
}
.btn-no-color{
    border-radius: 42px;
    border-color: white;
    border-style: solid;
    width: 224px;
    height: 54px;
padding: 16px 40px 16px 40px;
color: white;
font-size: 17px;
font-weight: 600;
line-height: 22px;

}
.header-section{
    display: flex;
    margin-left: 9rem;
    margin-right: 9rem;
    justify-content: space-between;
    margin-top: 3rem;
}
.header-section-div1{
  margin-top: 6rem;
  height: 28rem;
}
.card-1{
     position: absolute; 
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
width: max-content;
padding: 20px 15px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
top: 40%;
left: 60%;
}
.card-2{
    position: absolute;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: max-content;
    padding: 20px 40px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    top: 77%;
left: -30%;
}
.card-h3{
    backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
    color: rgb(250, 250, 249);
font-size: 30px;
font-weight: 900;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
}
.card-h6{
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
.card-p{
    backdrop-filter: blur(20px);
 background: rgba(48, 48, 48, 0.54); 
 color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px; */
    text-align: left;
}
/* .header-section{
    background-color: red;
}
.header-section-div1{
    background-color: green;
}
*/
.banner-img{
    width: 349px;
height: 580px;
left: 877px;
top: 135px;
}
.header-section-div2{
   position: relative;
} 