*{
    margin: 0px;
    padding: 0px;
      background-color:black;   
}

.inter-interfont{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .header-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-left: 9rem;
    margin-right: 9rem; 
text-align: center;
padding: 0px;
 width: 70.25rem;
height: 3rem;
}
.nav-div2{
    display: flex;
    gap: 20px;
   justify-content: end;
    /* background-color: antiquewhite; */
width: 465px;
height: 46px;
flex-direction: row;
align-items: center;
}
.nav-h3{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 36px;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.anchor{
    text-decoration: none;
    color: white;
  
}
.btn-nav{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    color: white;
    border: none;
align-items: center;
 padding: 8px 20px 8px 20px;

}
.hambargur{
    color: white;
    width: 24px;
height: 24px; 
 display: none; 
}
/* navbarend */
.header-section-div1-h1{
    color: rgb(255, 255, 255);
font-size: 70px;
font-weight: 900;
/* line-height: 100%; */
letter-spacing: 0%;
text-align: left;
width: 520px;
height: 285px;
}
.header-section-div1-p{
    width: 520px;
height: 48px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
}
.h-s-btn{
    width: 462px;
height: 54px;
align-items: flex-start;
gap: 14;
padding: 0px;
margin: 38px 0px;
}
.btn-color{
    border-radius: 42px;
    width: 224px;
    height: 54px;
background: rgb(230, 83, 60);
padding: 16px 40px 16px 40px;
color: white;
font-size: 17px;
font-weight: 600;
line-height: 22px;
}
.btn-color-new{
    display: none;
}
.btn-no-color{
    border-radius: 42px;
    border-color: white;
    border-style: solid;
    width: 224px;
    height: 54px;
padding: 16px 40px 16px 40px;
color: white;
font-size: 17px;
font-weight: 600;
line-height: 22px;

}
.header-section{
    display: flex;
    margin-left: 9rem;
    margin-right: 9rem;
    justify-content: space-between;
    margin-top: 3rem;
}
.header-section-div1{
  margin-top: 6rem;
  height: 28rem;
}
.card-1{
     position: absolute; 
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
width: max-content;
padding: 20px 15px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
top: 40%;
left: 60%;
}
.card-2{
    position: absolute;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: max-content;
    padding: 20px 40px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    top: 77%;
left: -30%;
}
.card-h3{
    backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
    color: rgb(250, 250, 249);
font-size: 30px;
font-weight: 900;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
}
.card-h6{
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
.card-p{
    backdrop-filter: blur(20px);
 background: rgba(48, 48, 48, 0.54); 
 color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px; */
    text-align: left;
}
/* .header-section{
    background-color: red;
}
.header-section-div1{
    background-color: green;
}
*/
.banner-img{
    width: 349px;
height: 580px;
left: 877px;
top: 135px;
}
.header-section-div2{
   position: relative;
} 
/* banner */

.second-section-h2{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 1rem;
}
.second-section-p{
    color: rgba(255, 255, 255, 0.5);
font-size: 0.875rem;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0.3px;
text-align: center;
}
.second-section{
    /* position: static;   */
    display: flex;
    text-align: center;
width: 65.25rem;
height: 28.25rem;
left: 12.375rem;
top: 50.9375rem;
margin-left: 12%;
margin-right: 10%;

flex-direction: column;
/* justify-content: flex-start; */ */
align-items: center;
gap: 58;
padding: 0px;
/* background-color: aqua; */

}
.section2-divvvvvv{
    display: flex;
    justify-content: space-around;
width: 65.25rem;
height: 17.125rem;

align-items: center;
gap: 40;
padding: 0px;

flex-grow: 0;
margin: 3.625rem 0rem;
}
.div2-img4{
    border-radius: 100%;
    height: 11.25rem;
   
}
.div2-img4-h5{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 6;
    padding: 0px;
font-size: 1.125rem;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
margin-top: 1.5rem;
}
.div2-img4-p{
    color: rgba(255, 255, 255, 0.5);
font-size: 0.875rem;
font-weight: 400;
line-height:  1.125rem;
letter-spacing: 0.3px;
text-align: center;
}
/* new section */
.main-section1{
    border-radius: 18px;
background: rgb(34, 34, 34);
width: 78.125rem;
height: 23.1875rem;
display: flex;
margin-left: 9rem;
margin-right: 9rem;
/* justify-content: space-between; */
margin-top: 3rem;
}
.third-section-div1{
    display: flex;
    justify-content: space-between; 
    background: rgb(34, 34, 34);
    margin: 2rem;
}
.third-section-div1-h3{
    background: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
 font-size: 3rem;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
width: 23rem;
height: 7.25rem; */

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 14;

margin: 14px 0px; */
}

.third-section-div2{
    background: rgb(34, 34, 34);
width: 27rem;
height: 18.125rem;
left: 54px;
top: 41px; 
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 34;
padding-left: 1.7rem;
}
.third-section-div1-p{
    color: rgba(255, 255, 255, 0.5);
    background: rgb(34, 34, 34);
font-size: 0.885rem;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0.3px;
text-align: left;
}
.third-section-div1-btn{
    border-radius: 42px;

background: rgb(230, 83, 60);
width: 14rem;
height: 3.375rem;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
gap: 10;
padding: 1rem 2.5rem 1rem 2.5rem;
color: white;
margin: 2.125rem 0rem;
}
.third-section-div1-img{
width: 22.875rem;
height: 19.5rem;
top: 1.875rem;
border-radius: 2rem;

}
.img-run-div{
    margin-left: 20rem;
    background: rgb(34, 34, 34);
}



/* meet our teem */

.ourteem-div1{
    width: 68rem;
    height: 49rem;
    margin: 3rem auto 3rem auto;
}
.ourteem-div1-1-h3{
font-size: 48px;
font-weight: 900;
line-height: 120%;
width: 100%;
height: 3rem;
text-align: center;
color:rgb(250, 250, 249);
margin: 1rem 0rem;
}
.ourteem-div1.1-p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;
width: 671px;
height: 48px;
}
.ourteem-div1-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgb(34, 34, 34);
   padding: 2rem;
}
.img-div{
/* position: static; */
/* width: 20rem;
height: 16rem; */
width: calc((100%-1rem)/2);
height: calc((100%-1rem)/2);
padding: 1rem;
border-radius: 2rem;
background: rgb(34, 34, 34);



}
.img-div-img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}
.ourteem-div1-1-p{
    color: rgba(255, 255, 255, 0.5);

font-size: 1rem;
font-weight: 400;
line-height: 1.3rem;
letter-spacing: 0.3px;
text-align: center;
margin: 1rem 0rem;
}